$breakpoint--xs: 320px;
$breakpoint--s: 576px;
$breakpoint--m: 768px;
$breakpoint--l: 992px;
$breakpoint--xl: 1200px;
$breakpoint--xxl: 1400px;

$color--orange: #ff671f;
$color--white: #fff;
$color--black: #000;
$text-dimmed: rgba(255, 255, 255, 0.5);
