@import '../styles/mixins.scss';
@import '../styles/variables.scss';

footer:not(.nav__footer) {
  height: 92px;
  width: 100%;
  padding: 0 40px;
  border-top: #151515;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @include breakpoint('l') {
    height: 84px;
  }
}

.footer__copyright {
  color: $text-dimmed;
  pointer-events: none;
  width: 100%;
  text-align: center;
  border-top: 1px solid #151515;
  padding-top: 30px;
  margin-bottom: 12px;
  font-weight: 800;

  span {
    font-weight: 200;

    &:first-of-type {
      font-weight: 800;
      color: $color--orange;
    }
  }
}
