@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.social-icons {
  display: flex;
  justify-content: center;

  .social-icon {
    transition: transform 0.2s ease-out;
    display: inline-flex;
    margin-right: 20px;
    min-width: 22px;
    min-height: 22px;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }

    svg {
      color: $text-dimmed;

      @include breakpoint('xl') {
        &:hover {
          color: $color--orange;
          transition: 200ms ease;
        }
      }
    }
  }
}
