@import '../src/styles/variables.scss';

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/100.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/200.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/300.woff') format('woff');
}

@font-face {
  font-family: 'Exotic';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/exotic.woff') format('woff');
}

* {
  &::selection {
    background: $color--orange;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

h1 {
  font-weight: 100;
  line-height: 1;
  user-select: none;
}

h2 {
  letter-spacing: 6px;
  font-weight: 200;
}

p {
  font-size: 1rem;
  letter-spacing: 6px;
}

span {
  font-weight: 800;
}

input,
textarea {
  background-color: #151515;
  border: 1px solid #fff;

  &:focus {
    outline: none;
    border: 1px solid $color--orange;
  }

  &:active {
    border: 1px solid $color--orange;
  }

  &:disabled {
    border: 1px solid #fff;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: uppercase;
}

a {
  transition: color 200ms, opacity 200ms;
  cursor: pointer;
  color: $color--white;
}

.app {
  overflow: hidden;
}
