* {
  box-sizing: border-box;
  font-family: 'Proxima Nova', 'Helvetica', arial, sans-serif;
}

html {
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
